.line_black {
  padding: 10px 0;
  height: 42px;
  background-color: #303030;
}
.line_gray {
  padding: 50px 0;
  height: 150px;
  background-color: #F3F3F3;
}

.titles {
}
.line-style {
  background: rgba(236,131,0,0.7);
  bottom: 0;
  height: 1px;
  width: 20%;
  margin: 0 auto; 
}
.form-control {
  background-color: #fff;
  border: 1px solid #EC8300;
  border-radius: 0;
  color: #555555;
}

.required {
  background-image: url(../images/required.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 25px 0 0;
}

.formSubmit {
  clear: both;
  height: 32px;
  cursor: pointer;
  border: 0;
  display: block;
  -webkit-appearance: none;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #EC8300;
}

#container-foot {
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.bg2xd, .HVbg2xd:hover, .FCbg2xd:focus {
  background-color: #303030;
}
#footer {
  height: calc(100% - 15px);
  margin: 0 auto;
  /* font-size: 11px; */
  /* text-transform: uppercase; */
  padding: 15px 0 0;
}
.cw, .HVcw:hover {
  color: #fff;
}