<footer>
	<div id="container-foot" class="bg2xd">
		<div id="footer" class="cw">
			<div class="container">
			<div class="col-md-9">
				<p>Copyright 2020, Red de Universidades Anáhuac. Todos los derechos reservados.					</p>
			</div>
			<div class="col-md-3">
				<div id="aviso"><a href="http://www.anahuac.mx/queretaro/descargables/aviso_privacidad.pdf" class="cc1 HVcc1l"><em>Aviso de Privacidad</em></a></div>
			</div>
		</div>
			</div>
	</div>
	<script src="/third-party/vue/dist/vue.js"></script>
	<script src="/third-party/vue-resource/dist/vue-resource.min.js"></script>
	<script src="/third-party/vee-validate/dist/vee-validate.min.js"></script>
	<script src="/third-party/xlsx/dist/xlsx.full.min.js"></script>
	<script src="/js/jspdf.min.js"></script>
	<script src="/third-party/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>
	<script src="/third-party/vue-snotify/vue-snotify.min.js"></script>
	<script src="/third-party/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
	<script src="/third-party/vue-spinner/dist/vue-spinner.min.js"></script>
	<script src="/third-party/vue-date-pick/dist/vueDatePick.js"></script>
	<script src="/third-party/jquery/dist/jquery.min.js"></script>
	<script src="/third-party/popper.js/dist/umd/popper.js"></script>
	<script src="/third-party/bootstrap/dist/js/bootstrap.min.js"></script>
</footer>