<!DOCTYPE html>
<html lang="en">

<head lang="en" th:replace="header :: head"> </head>

<body>
  <header>
    <div class="holderMenu bg1">
      <div class="container">
        <div class="menu">
          <div class="col-md-3">
                <div class="logo" style="background-image: url(/images/logo_homev2.png)"><a href="/admisiones.php"></a></div>
              </div>
      
          <div class="col-md-4">
            <ol class="socNet">
              <li style="background-image: url(../images/icon-info.png);" class="content"><p><a href="https://servicios.redanahuac.mx/" class="cw">SMART CAMPUS</a></p></li>
            </ol>
          </div>
      
          <div class="col-md-5">
            <ol class="socNet">
              <li class="sep">&nbsp;</li>
              <li><a href="https://www.facebook.com/U.Anahuac" target="_blank"><img src="/images/icon-facebook.png" alt=""></a></li>
              <li><a href="https://twitter.com/RedAnahuac" target="_blank"><img src="/images/icon-twitter.png" alt=""></a></li><a href="https://twitter.com/RedAnahuac" target="_blank">
              </a><li><a href="https://twitter.com/RedAnahuac" target="_blank"></a><a href="https://www.instagram.com/redanahuac/" target="_blank"><img src="/images/icon-instagram.png" alt=""></a></li>
              <li style="background-image: url(/images/icon-phone.png);" class="content"><a href="https://www.anahuac.mx/" target="_blank" class="cw"><p>CONTACTO</p></a></li>
            </ol>
          </div>
          
        </div>
      </div>
      </div>
  </header>
  <div class="container">

    <div th:replace="@{'views/' + ${content}} :: ${content}"></div>
  </div>
  <div lang="en" th:replace="footer :: footer"> </div>
  <div th:replace="@{'views/' + ${content}} :: js"> </div>
</body>

</html>